@use '@styles/variables.scss' as vars;

$radius: 8px;

.track {
  max-height: 14em;
  background: rgba(248, 248, 248, 0.4);
  border-radius: $radius;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(248, 248, 248, 0.75);
  opacity: 0.4;

  &:hover {
    background: rgba(248, 248, 248, 0.8);
    border: 2px solid vars.$light-mauve;
    opacity: 1;
  }

  &__album-cover {
    border-radius: $radius 0 0 $radius;
    img {
      border-radius: inherit;
    }
  }
}
