$primary-black: rgb(10, 10, 11);
$primary-white: rgb(243, 245, 246);

$dark-gray: rgb(85, 90, 94);
$primary-gray: rgb(162, 171, 180);
$light-gray: rgb(200, 206, 214);

$dark-blue: rgb(42, 112, 163);
$primary-blue: rgb(51, 163, 255);
$light-blue: rgb(200, 231, 255);

$dark-violet: rgb(100, 61, 136);
$primary-violet: rgb(146, 97, 189);
$light-violet: rgb(176, 139, 207);

$dark-mauve: rgb(217, 176, 255);
$primary-mauve: rgb(243, 196, 251);
$light-mauve: rgb(208, 209, 255);

$shadow-lavender: rgba(191, 123, 255, 0.781);
$flash-pink: rgb(255, 203, 242);
$flash-blue: rgb(192, 253, 255);
