#track-display {
  &__disc {
    height: clamp(180px, 18vw, 360px);
    width: clamp(180px, 18vw, 360px);
    border-radius: 50%;
    background-size: cover;
  }

  &__volume {
    opacity: 0.4;
    &:active {
      opacity: 1;
    }
  }
}
