@use '@styles/variables.scss' as vars;

#audio-player {
  #track-description {
    p {
      font-size: clamp(0.75em, 1.8vw, 1.4em);
    }
  }
  #track-card {
    width: clamp(18em, 40vw, 32em);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

#return-playlist {
  button {
    font-size: clamp(0.6em, 1.75vw, 1.125em);
    padding: 16px 32px;
    border: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;

    &:hover {
      letter-spacing: 3px;
      background-color: vars.$dark-violet;
      color: vars.$light-blue;
    }
  }
}
